main button.return-home {
    background: #3cc7a7;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 700;
    color: #0a142b;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

main button.return-home:hover {
    background: #2ba78a;
}
